mixin primary-heading(content)
  h3.primary-heading.text-gray-90= content

mixin brand-btn(brandName, text, display, classes, href)
  a.btn.text-center.text-white(
    href=(href || '#'),
    class=('btn-' + brandName) + ' ' + classes,
    style='display: ' + (display || 'block')
  )
    i.fab.me-2(class='fa-' + (brandName === 'facebook' ? 'facebook-f' : brandName))
    span= text

mixin split-btn(text, iconClass, eClass)
  button.btn.btn-icon-split.p-0(class=eClass)
    i.icon.text-white-50.d-inline-flex.align-items-center(class=iconClass)
    span.text.text-white.d-inline-flex.align-items-center= text
