extends ../../login

block pageTitle
  | Login | SB Admin Dashboard

block vars
  - const img = '../imgs/login.jpg'; 

block pageContent
  h4.form-heading.text-center.fw-normal.text-gray-90.mb-4 Welocome Back!

  form
    .row.mb-3
      .col
        input(
          id='name', 
          name='name', 
          placeholder='Enter Email Address...'
        ).form-control.rounded-pill.input-pad
        
    .row.mb-3
      .col
        input(
          id='password', 
          name='password', 
          placeholder='password'
        ).form-control.rounded-pill.input-pad
    .form-check.mb-3
      input(type='checkbox', value='remember', id='remember').form-check-input
      label.form-check-label.text-gray-60.fs-md(for='remember') Remember Me
    .row.mb-3
      .col
        a(href='../').btn.btn-primary.btn-primary-sb.input-pad.fs-md.rounded-pill.w-100.text-center Login
    hr.mb-3.text-gray-60
    .row.mb-3
      .col
        +brand-btn('google', 'Login With Google', false, 'rounded-pill input-pad fs-md', '../')
    .row.mb-3
      .col
        +brand-btn('facebook', 'Login With Facebook', false, 'rounded-pill input-pad fs-md', '../')
    hr.mb-3.text-gray-60
    .text-center
      a(href='../forgot_password/').sb-link.fs-md Forgot Password?
    .text-center
      a(href='../rigister/').sb-link.fs-md Create An Account!

