extends ../layout
append styles
  link(rel="stylesheet", href='./css/pages/home.css')

block pageTitle
  | Bootstrap Dahsboard
block paths
  -
    let home = '#';
    let buttons= './buttons/';
    let cards= './cards/';
    let colors = './colors/';
    let borders = './borders/';
    let animations = './animations/';
    let others = './others/';
    let login = './login/';
    let register = './register/';
    let forgot_password = './forgot_password/';
    let error_page = './error/';
    let blank = './blank/';
    let charts = './charts/';
    let tables = './tables/';

append vars
  - const active = 'home';

append scripts
  script(src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js")  
  script(src="./js/area-chart.js", type='module')
  script(src="./js/doughnut-chart.js")

block content
  .d-flex.justify-content-between.align-items-center.mb-3
    +primary-heading('Dashboard')
    button(style='border-radius: 3px;').d-none.d-md-block.btn.btn-sm.btn-primary.btn-primary-sb.shadow-sm #[i.fas.fa-download.fa-sm.text-white-50] Generate Report
  .cards.row.gy-4.gx-4.mb-4
    .col-md-6.col-xl-3
      .card.border-primary-sb.shadow-sb.p-4(style='border: none; border-left: 4px solid')
        .card-body.p-0.d-flex.justify-content-between.align-items-center
          .text-gray-60
            span.title.fs-xsm.d-block.text-primary-sb.text-uppercase.fw-bold EARNINGS (MONTHLY)
            span.number.d-block.fw-bold $40,000
          .icon
            i.fas.fa-calendar.fa-2x(style='color: #dddfeb;')
    .col-md-6.col-xl-3
      .card.border-success.shadow-sb.p-4(style='border: none; border-left: 4px solid')
        .card-body.p-0.d-flex.justify-content-between.align-items-center
          .text-gray-60
            span.title.fs-xsm.d-block.text-success.text-uppercase.fw-bold EARNINGS (ANNUAL)
            span.number.d-block.fw-bold $215,000
          .icon
            i.fas.fa-dollar-sign.fa-2x(style='color: #dddfeb;')
    .col-md-6.col-xl-3
      .card.border-info.shadow-sb.p-4(style='border: none; border-left: 4px solid')
        .card-body.p-0.d-flex.align-items-center
          .text-gray-60
            span.title.fs-xsm.d-block.text-info.text-uppercase.fw-bold Tasks
            span.number.d-block.fw-bold 50%
          .progress.mx-3.flex-grow-1(style='height: 9px;')
            .progress-bar.w-50.bg-info(
              role="progressbar",
              aria-label="Basic example",
              aria-valuenow="0",
              aria-valuemin="0",
              aria-valuemax="100"
            )
          .icon
            i.fas.fa-clipboard-list.fa-2x(style='color: #dddfeb;')
    .col-md-6.col-xl-3
      .card.border-warning.shadow-sb.p-4(style='border: none; border-left: 4px solid')
        .card-body.p-0.d-flex.justify-content-between.align-items-center
          .text-gray-60
            span.title.fs-xsm.d-block.text-warning.text-uppercase.fw-bold Pending Requests
            span.number.d-block.fw-bold 18
          .icon
            i.fas.fa-comments.fa-2x(style='color: #dddfeb;')
  .charts.mb-4.row.gx-4.gy-4
    .col-lg-7
      .card.h-100.card-sb.shadow-sb
        .card-header.d-flex.align-items-center.justify-content-between.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Earnings Overview
          .dropdown
            button(data-bs-toggle='dropdown').bg-transparent.text-gray-50: i.fas.fa-ellipsis-v
            ul.dropdown-menu(style="border-color: var(--sb-border-color) !important;")
              h6.dropdown-header.fs-xsm.text-uppercase.text-gray-50 Dropdown Header:
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another Action
              hr.dropdown-divider(style="border-color: var(--sb-border-color) !important;")
              a(href='#').dropdown-item Somethin else here
        .card-body
          canvas(id='earnings-chart', height='258', style="max-height: 258px; ")
    .col-lg-5
      .card.card-sb.shadow-sb
        .card-header.d-flex.align-items-center.justify-content-between.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Revenue Source
          .dropdown
            button(data-bs-toggle='dropdown').bg-transparent.text-gray-50: i.fas.fa-ellipsis-v
            ul.dropdown-menu(style="border-color: var(--sb-border-color) !important;")
              h6.dropdown-header.fs-xsm.text-uppercase.text-gray-50 Dropdown Header:
              a(href='#').dropdown-item Action
              a(href='#').dropdown-item Another Action
              hr.dropdown-divider(style="border-color: var(--sb-border-color) !important;")
              a(href='#').dropdown-item Somethin else here
        .card-body
          canvas(id='revenue-chart' style='max-height: 258px')
          .legend.d-flex.align-items-center.justify-content-center
            .direct.d-flex.align-items-center.me-3.text-gray-60.fs-sm
              span(style="--circle-dimension: 15px;").me-1.d-inline-block.circle.bg-primary
              | Direct
            .social.d-flex.align-items-center.me-3.text-gray-60.fs-sm
              span(style="--circle-dimension: 15px;").me-1.d-inline-block.circle.bg-success
              | Social

            .referral.d-flex.align-items-center.text-gray-60.fs-sm
              span(style="--circle-dimension: 15px;").me-1.d-inline-block.circle.bg-info
              | Referral
  .row.mb-4.mb-lg-0.g-4
    .col-lg-6
      .projects.mb-4.card.w-100.card-sb.shadow-sb
        .card-header.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Projects
        .card-body
          .project.mb-3
            .text-gray-60.mb-2.fs-sm.fw-bold.d-flex.align-items-center.justify-content-between
              span.title Server Migration
              span.progress-info 20%
            .progress
              .progress-bar.bg-danger(style="width: 20%;")
          .project.mb-3
            .text-gray-60.mb-2.fs-sm.fw-bold.d-flex.align-items-center.justify-content-between
              span.title Sales Tracking
              span.progress-info 40%
            .progress
              .progress-bar.bg-warning(style="width: 40%;")
          .project.mb-3
            .text-gray-60.mb-2.fs-sm.fw-bold.d-flex.align-items-center.justify-content-between
              span.title Customer Database
              span.progress-info 60%
            .progress
              .progress-bar.bg-primary(style="width: 60%;")
          .project.mb-3
            .text-gray-60.mb-2.fs-sm.fw-bold.d-flex.align-items-center.justify-content-between
              span.title Payout Details
              span.progress-info 80%
            .progress
              .progress-bar.bg-info(style="width: 80%;")
          .project.mb-3
            .text-gray-60.mb-2.fs-sm.fw-bold.d-flex.align-items-center.justify-content-between
              span.title Account Setup
              span.progress-info Complete!
            .progress
              .progress-bar.bg-success(style="width: 100%;")

      -
        let colorsInfo = [
          {title: 'Primary', class: 'bg-primary-sb', hex: '#4e73df'},
          {title: 'Success', class: 'bg-success', hex: '#1cc88a'},
          {title: 'Info', class: 'bg-info', hex: '#36b9cc'},
          {title: 'Warning', class: 'bg-warning', hex: '#f6c23e'},
          {title: 'Danger', class: 'bg-danger', hex: '#e74a3b'},
          {title: 'Secondary', class: 'bg-secondary', hex: '#858796'},
          {title: 'Light', class: 'bg-light', hex: '#f8f9fc'},
          {title: 'Dark', class: 'bg-dark', hex: '#5a5c69'},
        ]
      .colors.row.g-4
        each colorInfo in colorsInfo
          .col-lg-6
            .color.rounded.p-4.shadow-sb(class= colorInfo.class)
              h6.m-0.title&attributes({class: colorInfo.title === 'Light' ? 'text-black' : 'text-white'}) #{colorInfo.title}
              span.hex&attributes({class: colorInfo.title === 'Light' ? 'text-black-50' : 'text-white-50'})  #{colorInfo.hex}
    .col-lg-6
      .illustrations.mb-4.card.card-sb.w-100.shadow-sb
        .card-header.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Illustrations
        .card-body.py-4.px-4
          .image.mb-3.px-3.d-flex.justify-content-center
            img(src='./imgs/undraw_posting_photo.svg')
          p.text-gray-60.mb-2
            | Add some quality, svg illustrations to your project courtesy of #[a.sb-link(href='#') unDraw],
            | a constantly updated collection of beautiful svg images that you can use completely free and without attribution!
          a.sb-link.undraw.d-inline-block(href='#') Browse Illustrations on unDraw #[i.fas.fa-arrow-right-long.fs-xsm]
    
      .approach.card.card-sb.w-100.shadow-sb
        .card-header.py-3
          h6.fw-bold.text-primary-sb.m-0.card-title Development Approach
        .card-body.py-4.px-4
          p.text-gray-60.mb-2
            | SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance.
            | Custom CSS classes are used to create custom components and custom utility classes.
          p.text-gray-60.mb-2
            | Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.
